<link rel="stylesheet" href="/public/css/styles.css">
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
<div class="columns">
  <div class="column is-3">
    <img src="./assets/photoone.jpg" alt="Image1">
    First column content 
  </div>
  <div class="column is-3">
    <img src="./assets/phototwo.jpg" alt="Image2">
    Second column content 
  </div>
  <div class="column is-3">
    <img src="./assets/photothree.jpg" alt="Image3">
    Third column content 
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Post a New Recipe:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="recipe-name">Recipe name:</label>
        <textarea class="form-input"  id="recipe-name" name="recipe-name"></textarea>
      </div>
      <div class="form-group">
        <label for="recipe-ingredients">Ingredients:</label>
        <textarea class="form-input"  id="recipe-ingredients" name="recipe-ingredients"></textarea> 
      </div>
      <div class="form-group">
        <label for="recipe-desc">Description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>My Recipes:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
        
    </div>
    
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
