<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Share a New Food Item:</h3>

    <form class="form new-fooditem-form">
      <div class="form-group">
        <label for="fooditem-name">Food Item Name:</label>
        <input class="form-input" type="text" id="fooditem-name" name="fooditem-name" />
      </div>
      <div class="form-group">
        <label for="fooditem-quantity">Available Quantity:</label>
        <input class="form-input" type="number" id="fooditem-quantity" name="fooditem-quantity" />
      </div>
      <div class="form-group">
        <label for="fooditem-desc">Description:</label>
        <textarea class="form-input" id="fooditem-desc" name="fooditem-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Share</button>
      </div>
    </form>
  </div>

  {{#if foodItems.length}}
  <div class="col-md-6 fooditem-list">
    <h3>Current Shared Food Items:</h3>

    {{#each foodItems as |foodItem|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/fooditem/{{foodItem.id}}">{{foodItem.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{foodItem.id}}">REMOVE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


<script src="./js/profile.js"></script>
