<div class="recipe body">
  <div class="recipe header">
    <h2>Edit Recipe</h2>
  </div>
  <form id="edit-recipe-form" class="card-body">
    <input type="hidden" name="recipe-id" value="{{post.id}}"/>
    <label class="recipe-name" for="recipe-name">Name</label>
    <input type="text" id="recipe-name" name='name' value='{{name}}'>
    <label class="recipe-ingredients" for="recipe-ingredients">Ingredients</label>
    <input type="text" id="recipe-ingredients" name='ingredients' value='{{post.ingredients}}'>
    <label class="recipe-desc" for="recipe-desc">Description</label>
    <input type="text" id="recipe-desc" name='description' value= '{{post.description}}'>

    <p>
      <button type="submit" class="btn">Update Recipe!</button>
    </p>
  </form>
</div>
<script src='/js/project.js'></script>